h1 {
	font-size: 60px;
	text-align: center;
	color: #424242;
}

h3 {
	font-size: 30px;
	text-align: center;
	color: #424242;
}

h3 a {
	color: #424242;
}

a {
	color: #424242;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
}

#dropdown {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 0px 0;
  color: #424242;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	display:inline-block;
	/*background-color: #fafafa;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

nav a {
	display:block;
	padding:0 10px;
	color: #424242;
	font-size: 20px;
	line-height: 20px;
	text-decoration:none;
}

nav a:hover {
	background-color: #424242;
  color: #fafafa;
}

nav ul ul {
	display: none;
	position: absolute;
  padding: 10px 0;
	top: 20px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 100px;
	float:none;
	display:list-item;
	position: relative;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}


/* Change this in order to change the Dropdown symbol &#9660; */
li > a:only-child:after { content: ''; }

svg.icon.headers {
  width: 20px;
  height: 20px;
  display: inline;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #424242;
  padding-top: 4px;
  display: inline-block;
}

a.btn.btn-inline.RichEditor-styleButton {
  width: 60px;
}

.header-btn {
  padding: 0 20px 10px 20px;
}
