/*
 *
 * Colors:
 * gray: #eeeeee
 * dark-gray: #e6e6e6
 * black: #424242
 * white: #fafafa
 * red: #da4f49
 *
 */


body {
  background-color: #eeeeee;
  font-family: 'Roboto-Regular', serif;
}

input {
  padding: 0 5px;
  font-family: 'Roboto-Regular', serif;
}

svg {
  fill: #424242;
}

h2 {
  font-family: 'Roboto-Bold', serif;
}

.titleBar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.titleBar h1 {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.logo {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.settings-input {
  width: 200px;
}

.settings-buttons button {
  margin-top: 10px;
}

.sync-date {
  margin: 10px 20px 0 0;
  font-size: 12px;
}

.menu {
  list-style: none;
  padding-left: 0;
}
.menu h5 {
  display: inline-block;
}
.menu li {
  display: inline;
  padding: 0 1em;
  cursor: pointer;
}
.menu li:first-child {
  padding-left: 0;
  cursor: default;
}
.menu li:first-child div {
  display: inline;
}

ul.folders {
  list-style: none;
  padding-left: 0;
}

ul.folders li {
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: #424242;
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto-Thin', serif;
  background-color: #fafafa;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

ul.folders li svg {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

ul.folders li:hover {
  color: #eeeeee;
  box-shadow: rgba(0,0,0,0.2) 0px 3px 4px 0px;
  background-color: #e6e6e6;
}

.folder {
  display: inline-block;
}

.folderName {
  width: 130px;
  background-color: #e6e6e6;
}

div.col-4.notes-wrapper {
  display: inline-block;
  height: 800px;
  overflow-x: scroll;
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
}

.notes {
  text-align: left;
}

.note {
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
}

.note:hover {
  border: 1px solid #eeeeee;
}

.note-active {
  border: 1px solid #424242;
}

.noteBody {
  line-height: 16px;
  margin-top: 10px;
  font-size: 12px;
}

.noteTitle {
  display: inline;
  text-align: left;
}

.note svg {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

.title {
  margin-bottom: 40px;
}


.new-folder {
  display: inline-block;
  /*margin-left: 10px;*/
}
.new-folder input {
  padding: 5px;
}

.searchForm {
  display: inline-block;
  float: right;
}

.btn span {
  color: #424242;
}

.btn svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.btn.btn-inline.check svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}
.btn.btn-inline.btn-small.check svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.btn.btn-small svg.icon {
  width: 18px;
  height: 18px;
  padding-bottom: 5px;
}

.danger {
  color: #da4f49;
}
