
.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
}

.RichEditor-styleButton {
  color: #424242;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 4px;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}
.RichEditor-styleButton svg {
  margin-top: 10px;
}

.RichEditor-activeButton {
  background: #424242;
  color: #fafafa;
}
.RichEditor-activeButton svg {
  fill: #fafafa;
}

svg.icon.editor-icon {
  width: 22px;
  height: 22px;
}

.public-DraftEditor-content h1 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto-Bold', serif;
  margin: 15px 0;
}
.public-DraftEditor-content h2 {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto-Bold', serif;
  margin: 10px 0;
}
.public-DraftEditor-content h3 {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  margin: 5px 0;
}
.public-DraftEditor-content h4 {
  font-size: 15px;
  text-align: left;
  font-weight: normal;
}.public-DraftEditor-content h4 {
  font-size: 15px;
  text-align: left;
  font-weight: normal;
}
.public-DraftEditor-content h5 {
  font-size: 10px;
  text-align: left;
  font-weight: normal;
}
.public-DraftEditor-content h6 {
  font-size: 10px;
  text-align: left;
  font-weight: normal;
  color: #e6e6e6;
}
.public-DraftEditor-content h6 span {
  color: #e6e6e6;
}

ol.public-DraftStyleDefault-ol, ul.public-DraftStyleDefault-ul {
  margin-left: 24px;
}

a.editor-link {
  color: #3b5998;
  text-decoration: underline;
  cursor: pointer;
}
